.header{
	width:100%;
	height: 140px;
	background-color: #fff;
}
.header .site-topbar{
	background-color: #000;
	height: 40px;
}
.header .site-topbar .top-nav{
	position:relative;
	left: 40px;
	margin: auto;
	padding: 10px;
}
.header .site-topbar .top-nav a{
	text-decoration:none;
	color: #B0B0B0;
	font-size: 12px;
}
.header .site-topbar .top-nav p{
	display: inline;
}